<h2 class="text-center">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div class="form-group">

      <div class="col-xs-12 col-sm-8">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Sign up" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
