.col-xs-12
  .page-header
    %h2.text-center
      = @musician.first_name + " " + @musician.last_name
      - if @musician.is_section_leader?
        %span.glyphicon.glyphicon-music{"data-toggle": "tooltip", "data-placement": "top", "title": "Section Leader"}

.col-xs-12.col-sm-6
  .panel.panel-info
    .panel-heading
      %h4 Information
    %ul.list-group
      %li.list-group-item
        Instrument:
        %strong= @musician.instrument
      %li.list-group-item
        Email:
        %strong= @musician.email
      %li.list-group-item
        Date Joined:
        %strong= @musician.date_joined.strftime("%B %d, %Y")

.col-xs-12.col-sm-6
  = link_to "Back", orchestra_section_path(@orchestra, @section), {class: "btn btn-default btn-block"}
  = link_to "Edit", edit_orchestra_section_musician_path(@orchestra, @section, @musician), {class: "btn btn-warning btn-block"}
  = link_to "Delete", orchestra_section_musician_path(@orchestra, @section, @musician), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-block"
