= simple_form_for([@orchestra, @conductor], html: {class: "form-horizontal"}) do |f|

  - if @conductor.errors.any?
    #error_explanation
    - @conductor.errors.full_messages.each do |message|
      .alert.alert-danger{:role => "alert"}
        %span.glyphicon.glyphicon-exclamation-sign
        %span= message

  .container
    %p Fields with a * are required

    .form-group
      = f.label :first_name, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :first_name, class: "form-control", placeholder: "Wolfgang"

    .form-group
      = f.label :last_name, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :last_name, class: "form-control", placeholder: "Mozart"

    .form-group
      = f.label :email, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :email, class: "form-control", placeholder: "mozart@example.com"

    .form-group
      = f.label :date_joined, class: "col-sm-2 control-label"
      .col-sm-8
        = f.date_select :date_joined, class: "form-control"

    .form-group
      .col-sm-offset-2.col-sm-10
        -if @conductor.new_record?
          = link_to "Back", orchestra_path(@orchestra), class: "btn btn-default"
        -else
          = link_to "Back", orchestra_conductor_path(@orchestra, @conductor), class: "btn btn-default"
        = f.submit class: "btn btn-success"

    = f.hidden_field :orchestra_id, value: params[:orchestra_id]
