.col-xs-12
  .page-header
    %h2.text-center
      = @conductor.first_name + " " + @conductor.last_name

.col-xs-12.col-sm-6
  .panel.panel-info
    .panel-heading
      %h4 Information
    %ul.list-group
      %li.list-group-item
        Email:
        %strong= @conductor.email
      %li.list-group-item
        Date Joined:
        %strong= @conductor.date_joined.strftime("%B %d, %Y")

.col-xs-12.col-sm-6
  = link_to "Back", orchestra_path(@orchestra), {class: "btn btn-default btn-block"}
  = link_to "Edit", edit_orchestra_conductor_path(@orchestra, @conductor), {class: "btn btn-warning btn-block"}
  = link_to "Delete", orchestra_conductor_path(@orchestra, @conductor), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-block"
