<h2 class="text-center">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div class="form-group">
      <div class="col-xs-12 col-sm-8">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Send me reset password instructions" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
