= simple_form_for([@orchestra, @section], html: {class: 'form-horizontal'}) do |f|

  - if @section.errors.any?
    #error_explanation
    - @section.errors.full_messages.each do |message|
      .alert.alert-danger{:role => "alert"}
        %span.glyphicon.glyphicon-exclamation-sign
        %span= message

  .container
    .form-group
      = f.label :title, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :title, class: "form-control", placeholder: "Strings, Brass, Woodwind, etc."


    .form-group
      .col-sm-offset-2.col-sm-8
        -if @section.new_record?
          = link_to "Back", orchestra_path(@orchestra), class: "btn btn-default"
        -else
          = link_to "Back", orchestra_section_path(@orchestra, @section), class: "btn btn-default"

        = f.submit class: "btn btn-success"

    = f.hidden_field :orchestra_id, value: params[:orchestra_id]
