.col-xs-12
  .page-header
    %h2.text-center= @section.title + " Section"

.col-xs-12.col-sm-6
  .panel.panel-primary
    .panel-heading.clearfix
      %span.h4.pull-left Musicians
      = link_to "Add a Musician", new_orchestra_section_musician_path(@orchestra, @section), {class: "btn btn-success pull-right"}

    .list-group
      - if @musicians.count >= 1
        - @musicians.each do |musician|
          -if musician.is_section_leader?
            = link_to (musician.first_name + " " + musician.last_name + " – " + musician.instrument), orchestra_section_musician_path(@orchestra, @section, musician), {class: "list-group-item list-group-item-success", "data-toggle": "tooltip", "data-placement": "top", "title": "Section Leader"}
          -else
            = link_to (musician.first_name + " " + musician.last_name + " – " + musician.instrument), orchestra_section_musician_path(@orchestra, @section, musician), {class: "list-group-item"}
      - else
        %li.list-group-item This section has no musicians.

.col-xs-12.col-sm-6
  = link_to "Back", orchestra_path(@orchestra), {class: "btn btn-default btn-block"}
  = link_to "Edit", edit_orchestra_section_path(@orchestra, @section), {class: "btn btn-warning btn-block"}
  = link_to "Delete", orchestra_section_path(@orchestra, @section), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-block"
