= simple_form_for([@orchestra, @concert], html: {class: "form-horizontal"}) do |f|

  - if @concert.errors.any?
    #error_explanation
    - @concert.errors.full_messages.each do |message|
      .alert.alert-danger{:role => "alert"}
        %span.glyphicon.glyphicon-exclamation-sign
        %span= message

  .container
    .form-group
      = f.label :location, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :location, class: "form-control", placeholder: "Boston, MA"

    .form-group
      = f.label :date, class: "col-sm-2 control-label"
      .col-sm-8
        = f.date_select :date, start_year: 2016, class: "form-control"

    .form-group
      .col-sm-offset-2.col-sm-10
        -if @concert.new_record?
          = link_to "Back", orchestra_path(@orchestra), class: "btn btn-default"
        -else
          = link_to "Back", orchestra_concert_path(@orchestra, @concert), class: "btn btn-default"

        = f.submit class: "btn btn-success"

    = f.hidden_field :orchestra_id, value: params[:orchestra_id]
