<h2 class="text-center">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

  <div class="container">
    <div class="form-group">
      <div class="col-xs-12 col-sm-8">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Log in" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
