= simple_form_for(@orchestra, html: { class: "form-horizontal" }) do |f|

  - if @orchestra.errors.any?
    #error_explanation
    - @orchestra.errors.full_messages.each do |message|
      .alert.alert-danger{:role => "alert"}
        %span.glyphicon.glyphicon-exclamation-sign
        %span= message

  .container
    %p Fields with a * are required.

    .form-group
      = f.label :title, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :title, class: "form-control", placeholder: "Boston Symphony Orchestra"

    .form-group
      = f.label :kind, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :kind, class: "form-control", placeholder: "Symphony"

    .form-group
      = f.label :location, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :location, class: "form-control", placeholder: "Boston, MA"

    .form-group
      = f.label :date_founded, class: "col-sm-2 control-label"
      .col-sm-8
        = f.date_select :date_founded, start_year: 1840, class: "form-control"

    .form-group
      .col-sm-offset-2.col-sm-10
        -if @orchestra.new_record?
          = link_to "Back", orchestras_path, class: "btn btn-default"
        -else
          = link_to "Back", orchestra_path(@orchestra), class: "btn btn-default"

        = f.submit class: "btn btn-success"

    = f.hidden_field :user_id, value: current_user.id
