.col-xs-12
  .page-header
    %h2.text-center
      Orchestras
      = link_to "New Orchestra", new_orchestra_path, :class => "btn btn-success btn-lg"

- @orchestras.each do |orchestra|
  .col-xs-12.col-sm-6.text-center
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          = orchestra.title
          %br
          = orchestra.date_founded.strftime("%B %d, %Y")
      .panel-body
        %h4
          = orchestra.location
        %h4
          = orchestra.sections.count
          = "Sections"
        %h4
          = orchestra.musicians.count
          = "Musicians"
        %h4
          = orchestra.concerts.count
          = "Concerts"
        .btn-group{role: "group"}
          = link_to "View", orchestra, class: "btn btn-info"
          = link_to "Edit", edit_orchestra_path(orchestra), class: "btn btn-warning"
