.col-xs-12
  .page-header
    %h2.text-center= @orchestra.title

.col-xs-12.col-sm-7
  .panel.panel-info
    .panel-heading
      %h4 Information

    %ul.list-group
      %li.list-group-item
        Kind:
        %strong= @orchestra.kind
      %li.list-group-item
        Located in:
        %strong= @orchestra.location
      %li.list-group-item
        Date founded:
        %strong= @orchestra.date_founded.strftime("%B %d, %Y")
      %li.list-group-item.clearfix
        Conductor:
        - if @orchestra.conductor
          %strong= link_to @orchestra.conductor.first_name + " " + @orchestra.conductor.last_name, orchestra_conductor_path(@orchestra, @orchestra.conductor)
        - else
          %strong None!
          = link_to "Add a Conductor", new_orchestra_conductor_path(@orchestra), {class: "btn btn-success pull-right"}

.col-xs-12.col-sm-5
  .panel.panel-primary
    .panel-heading.clearfix
      %span.h4.pull-left Sections
      = link_to "Add a Section", new_orchestra_section_path(@orchestra), {class: "btn btn-success pull-right"}

    .list-group
      - if @sections.count >= 1
        - @sections.each do |section|
          = link_to (section.title + ": " + section.musicians.count.to_s), orchestra_section_path(@orchestra, section), {class: "list-group-item"}
      - else
        %li.list-group-item This orchestra has no sections.

.col-xs-12.col-sm-7
  .panel.panel-primary
    .panel-heading.clearfix
      %span.h4.pull-left Concerts
      = link_to "Add a Concert", new_orchestra_concert_path(@orchestra), {class: "btn btn-success pull-right"}

    .list-group
      - if @concerts.count >= 1
        - @concerts.each do |concert|
          %li.list-group-item.clearfix
            %p.reduce-width
              = concert.location + " – " + concert.date.strftime("%B %d, %Y").to_s
            .btn-group.pull-right{:role => "group"}
              = link_to "Edit", edit_orchestra_concert_path(@orchestra, concert), class: "btn btn-warning"
              = link_to "Delete", orchestra_concert_path(@orchestra, concert), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
      - else
        %li.list-group-item This orchestra has no concerts.

.col-xs-12.col-sm-5
  = link_to "Back", orchestras_path, {class: "btn btn-default btn-block"}
  = link_to "Edit", edit_orchestra_path(@orchestra), {class: "btn btn-warning btn-block"}
  = link_to "Delete", orchestra_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block"
