!!!
%html
  %head
    %title Harmonize
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

  %body
    .container
      .row
        .col-xs-12.bg-info
          .page-header
            %h1
              = link_to "Harmonize", root_path, class: "title"
              %br
              %small Orchestra management with style

        .col-xs-12
          -if user_signed_in?
            %span.lead.pull-left
              = "Hello, " + current_user.email
              = link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default"
        = yield
